<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ubicaciones</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3096/3096983.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand mr-auto" href="/" style="color: black;">
            <img src="https://cdn-icons-png.flaticon.com/128/3096/3096983.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Alquiler
        </a>
    </div>
</nav>

<div class="container mt-5 pt-5 d-flex flex-column align-items-left">
    <h2 class="mb-4 text-white" id="title">Lista de Ubicaciones</h2>

    <div id="locations-container" class="row">
       
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a href="/" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const locationsContainer = document.getElementById("locations-container");

       
        fetch("https://proyecto-api-zeta.vercel.app/location")
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error de red: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.state && data.data) {
            
                    data.data.forEach(location => {
                        const locationCard = `
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${location.name}</h5>
                                        <p class="card-text">ID: ${location.id}</p>
                                        <p class="card-text">Dirección: ${location.address}</p>
                                        <p class="card-text">Teléfono: ${location.phone}</p>
                                        <p class="card-text">Capacidad: ${location.capasity}</p>
                                    </div>
                                </div>
                            </div>
                        `;
                        locationsContainer.innerHTML += locationCard;
                    });
                } else {
                    throw new Error("Formato de datos incorrecto en la respuesta de la API");
                }
            })
            .catch(error => {
                console.error("Error al obtener la lista de ubicaciones:", error);
            });
    });
</script>

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: black;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #title {
        color: white;
    }
</style>

</body>
</html>
