<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alquileres</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3096/3096983.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand mr-auto" href="/" style="color: black;">
            <img src="https://cdn-icons-png.flaticon.com/128/3096/3096983.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Alquiler
        </a>
    </div>
</nav>

<div class="container mt-5 pt-5 d-flex flex-column align-items-left">
    <h2 class="mb-4 text-white" id="title">Lista de Alquileres</h2>

    <div id="rentals-container" class="row">
       
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a href="/" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rentalsContainer = document.getElementById("rentals-container");

       
        fetch("https://proyecto-api-zeta.vercel.app/rental")
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error de red: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.state && data.data) {
                    
                    const filteredRentals = data.data.filter(rental => rental.location === null);

                   
                    filteredRentals.forEach(rental => {
                        deleteRental(rental._id);
                    });

                    
                    refreshRentalList(data.data);
                } else {
                    throw new Error("Formato de datos incorrecto en la respuesta de la API");
                }
            })
            .catch(error => {
                console.error("Error al obtener la lista de alquileres:", error);
            });
    });

   
    function deleteRental(rentalId) {
       
        const confirmed = window.confirm("¿Estás seguro de que deseas eliminar este alquiler?");
        
        if (confirmed) {
            fetch(`https://proyecto-api-zeta.vercel.app/rental/${rentalId}`, {
                method: "DELETE",
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error de red: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (!data.state) {
                    throw new Error("Error al eliminar el alquiler");
                }

                
                window.alert("Alquiler eliminado exitosamente");

                
                location.reload();
            })
            .catch(error => {
                console.error("Error al eliminar el alquiler:", error);
            });
        }
    }

    
    function refreshRentalList(rentals) {
        showRentalList(rentals);
    }

    
    function showRentalList(rentals) {
        const rentalsContainer = document.getElementById("rentals-container");
        rentalsContainer.innerHTML = ""; 

        rentals.forEach(rental => {
            
            const rentalName = rental.name ? rental.name : "Nombre no disponible";
            
            
            const locationName = rental.location && rental.location.name ? rental.location.name : "Ubicación no disponible";

            const rentalCard = `
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">${rentalName}</h5>
                            <p class="card-text">ID: ${rental.id}</p>
                            <p class="card-text">Fecha: ${rental.date}</p>
                            <p class="card-text">Precio: $${rental.price}</p>
                            <p class="card-text">Lugar: ${locationName}</p>
                            <button class="btn btn-secondary" onclick="deleteRental('${rental._id}')">Eliminar</button>
                        </div>
                    </div>
                </div>
            `;
            rentalsContainer.innerHTML += rentalCard;
        });
    }
</script>

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: black;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #title {
        color: white;
    }
</style>

</body>
</html>
